body{
    background-image:url(images/photos/bac.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }


h1{
    text-align:center;
}

footer {
    text-align:center;
}

#imagesdiv{
    display:flex;
    justify-content: center;
    
}
#imagesdiv img{ 
    width:100%;
    height:100%;
}

#imgone, #imgtwo, #imgthree{
    border: 2px solid black;
    text-align:center;
    display:inline-block; 
    margin: 0 5px;
    width:32%;
    height:350px;
}

#imgtwo {
    font-size:24px;
    background-color:salmon;
    color:white;
    font-style:italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tourismdiv p{
    max-width:95%;
    margin-left:2%;
}

#overlay{
    max-width:80%;
    margin:auto;
    background-color:aliceblue;
    padding:10px;
    border:1px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-weight:bold;
  }
  li {
      display:flex;
      justify-content: center;
      display: inline-block;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: salmon;
    color:white;
  }