body{
    background-image:url("beach.jpg");
    border:solid,black,1px;
    box-shadow:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: center;
}
li {
    display:flex;
    justify-content: center;
    display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: orange;
}

#overlay{
    background-color:silver;
    width:85%;
    margin:auto;
    border:2px solid black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

button{
    background-color:orange;
    border-radius:10px;
    width:200px;
    height:35px;
}
button:hover{
    background-color:peru;
}

button a {
    text-decoration: none;
    color:white;
}

#fontsdiv {
    width:350px;
    text-align: center;
    float:right;
    margin-right:10%;
    margin-top:100px;
}

#courierp, #corsivap { 
    margin-top: -20px; 
}

#arialp{
    font-family:arial;
    background-color:hotpink;
    padding: 10px 10px;
    
}
#courierp{
    font-family:courier;
    background-color:pink;
    padding: 10px 10px;
}
#corsivap{
    font-family:Monotype Corsiva;
    background-color:lightpink;
    padding: 10px 10px;
}

#AOneDiv {
    margin-top:15px;
    display:flex;
    justify-content: center;
}

#AOne {
    border: 3px solid hotpink;
    width:400px;
    height:300px;
}

#PicDiv {
    display:inline-block; 
    margin-left:10%;
    margin-top:100px;
}
#PicDiv img {
   width:350px;
   border:2px solid black;
}
footer{
    text-align:center;
    background-color:black;
    font-size:14px;
    color:white;
    padding: 14px 16px;
    margin-top:100px;
}
